@charset "UTF-8";
 *{
 
font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
 }
 body{
    background-color:#8A51FC;
 }
 .dinheiro{
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   display: block
 }
 main{
   width: 375px;
   background: rgb(248, 248, 247);
   border-radius: 20px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 44px 24px 23px;
  
 }
 label{
   color:#777777;
   font-size: 20px;
   font-weight: 400; 
 }
 #brasil{
   width: 44px;
 }
 #eua{
   width: 44px;
 }
 #seta{
   width: 30px;
   margin: 15px 0;
 }
 .nota{
  color: #777777;
  font-size: 16px;


 }
 .currency-value,.currency-value-to-convert{
  color: #555555;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
 }
select{
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  margin-bottom:24px ;
  appearance: none;
  color: #555555;
  font-size: 16px;
  font-weight: 700;
  padding-left: 18px;
}
input{
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 48px;
  width: 95%;
  cursor: pointer;
  margin-bottom:24px ;
  appearance: none;
  color: #555555;
  font-size: 16px;
  font-weight: 700;
  padding-left: 18px;
}

button{
 width: 327px;
height: 48px;
top: 329px;
left: 24px;
border-radius: 5px;
background:  #772FD3;
color: white;
margin-left: auto;
margin-right: auto;
display: block;
cursor: pointer;
font-size: 16px;
font-weight: 700
}
section{ 
  margin:10px;
  border-radius: 20px;
  border: 1px solid #772FD3;
  padding: 30px;
  text-align: center;
  margin-top: 36px;
}
 button:hover{
   opacity: 0.8;
 }
 button:active{
   opacity: 0.6;
 }